.footer {
    flex-basis: 5%;
    width: 100%;
    color: $footer-font-color;
    font-family: $second-font-family;

    &__info {
        text-align: center;
        font-size: 0.77rem;
        font-weight: 500;

        &--underline {
            text-decoration: underline;
            font-weight: $base-font-weight;
        }
    }
}